<div class="chat-window">
    @if (chatActual()) {
    <div class="header">
        <img [src]="chatActual()?.avatar" alt="Avatar" class="mini-avatar">
        <h3>{{ chatActual()?.nombre }}</h3>
    </div>

    <div class="messages-container">
        @for (msg of chatActual()?.mensajes; track msg.fecha) {
        <div [class]="msg.emisor === 'usuario' ? 'msg-mio' : 'msg-otro'">
            <p>{{ msg.texto }}</p>
            <span>{{ msg.fecha | date:'HH:mm' }}</span>
        </div>
        }
    </div>

    <div class="input-area">
        <input #msgInput type="text" placeholder="Escribí un mensaje..."
            (keyup.enter)="enviar(msgInput.value); msgInput.value = ''">
        <button (click)="enviar(msgInput.value); msgInput.value = ''">Enviar</button>
    </div>
    } @else {
    <div class="no-chat">
        <p>Seleccioná un usuario para empezar a chatear</p>
    </div>
    }
</div>