

.conversacion-vacia {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgb(238, 229, 229);
}

.chat-header {
    padding: 1rem;
    background: #070808;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    border: 1px solid #0f0e0e;
    border-radius:10px;
    color:#ddd
}

.avatar-header {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
    border:1px solid #19dd43;
}

.info-header h3 {
    margin: 0;
}

.info-header .estado {
    font-size: 0.8rem;
    color: gray;
}


.historial {
    flex: 1;
    
    overflow-y: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mensaje-container {
    display: flex;
    width: 100%;
}

.mensaje-container.derecha {
    justify-content: flex-end;
}


.burbuja {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
   
}

.burbuja.usuario {
    background-color: #515851;
    border-top-right-radius: 0;
    color:rgb(225, 233, 225);
}


.burbuja.app {
    background-color: #515851;
    border-top-left-radius: 0;
}



.burbuja p {
    margin: 0;
}

.hora {
    font-size: 0.7rem;
    color: gray;
    display: block;
    text-align: right;
    margin-top: 5px;
}


.chat-footer {
    padding: 1rem;
    background: #0a0909;
    
}

.form-envio {
    display: flex;
    gap: 10px;
}

.form-envio input {
    flex: 1;
    padding: 10px;

    border-radius: 20px;
    background-color:#302a2a;
    color:#ddd;
}

.form-envio button {
    padding: 10px 20px;
    background-color: #00ff22;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.form-envio button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}